<% if user_signed_in? %>
    <% if current_user.already_liked?(@post) %>
    <span>
      <%= link_to(post_like_path(@post), method: :delete, remote: true) do %>
        <%=  image_tag 'gooded.svg', class: "good-icon" %>
      <% end %>
      <p class="arrow_box">いいねを外す</p>
    </span>
    <%= @post.likes.count %>
    <% else %>
    <span>
      <%= link_to(post_likes_path(@post), method: :post, remote: true) do %>
        <%=  image_tag 'good.svg', class: "good-icon" %>
      <% end %>
      <p class="arrow_box">いいね！</p>
    </span>
    <%= @post.likes.count %>
    <% end %>
<% else %>
  <span>
  <%= image_tag 'gooded.svg', class: "good-icon" %>
  <p class="arrow_box"><%= link_to "いいねするにはログインが必要です。", user_session_path, class: "arrow_box__link" %></p>
  </span>
<% end %>