
<div class="users-box">
<div class="flex">
  <%= image_tag user.profile_image.url, class: "profile-image", size: "100" %>
  <div class="users-box__profile">

  <p class="users-box__profile__user-name">
  <%= link_to user.name, user %>
  <%= render 'users/follow_form', user: user%>
  </p>
</div>
  </div>
  <div class="users-box__posts">
  <% user.posts.first(4).each do |post| %>
  <%= link_to(post, class: "users-box__posts__link", remote: true,) do %>
    <%= image_tag post.pictures[0].url, class: "users-box__posts__picture" %>
  <% end %>
  <% end %>
  </div>
</div>