<div class="user-canopy">
  <div class="user-box">
  <div class="user-box__image">
  <% if current_user?(@user) %>
    <%= link_to image_tag("pen.svg", class: "user-box__edit--image"), edit_user_registration_path,class: "user-box__edit" %>
    <% end %>
  </div>
  <p class="user-name"><%= @user.name %></p>
  <%= render 'users/stats' %>
  <%= render 'users/follow_button' %>
  </div>
  <div class="profile-box">
  <%= @user.profile %>
  </div>
  <%= render 'users/user_link' %>
</div>
<style>
  .user-box__image {
    background-image: url("<%= @user.profile_image.url %>");
  }
  .user-canopy {
    background-image: url("<%= @user.profile_image.url %>");
  }
</style>
