  <%= render 'profile', user: @user %>


  <% if @posts.present? %>
    <div class="map-container">
      <div id="user_map" style='width: 100%; height: 600px;'></div>
    </div>
  <% elsif current_user?(@user) %>
  <div class="non-post">
    <h4 class="tac">
    投稿がまだありません。<br>
    最初の投稿をしてみましょう！
    </h4>
    <%= link_to "投稿する", new_post_path, class: "non-post__link" %>
  </div>
  <% else %>
    <h4 class="tac">投稿はまだありません</h4>
  <% end %>
  </div>

  <script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: { scrollwheel: false }, internal: {id: 'user_map'}}, function(){
      <% @posts.each do |post| %>
      markers = handler.addMarkers([
      {
          "lat": <%= post.latitude %>,
          "lng": <%= post.longitude %>,
          "infowindow": '<%= image_tag post.pictures[0].thumb.url, class:"gm-post-picture" %><%= link_to "投稿を見る", post, class: "post-link", remote: true %><p><%= link_to "Googleマップで見る" ,"https://maps.google.co.jp/maps?q=loc:#{post.latitude},#{post.longitude}&iwloc=J",target: "_blank" %></p>'
      }
      ]);
      <% end %>

      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(10);
    });
  </script>
