<li class="post-list__item">
<%= link_to(post, class: "post-link") do %>
<div class="post-image post-image-<%= post.id %>">
</div>
<% end %>
<div class="hover">
  <div class="hover__user-profile">
    <%= image_tag post.user.profile_image.url,class: "profile-image", size: "50" %>
    <%= post.user.name %>
  </div>
  <div class="hover__stats">
    <ul class="activity-list">
      <li class="activity-list__item"><%= image_tag 'comment.svg', class: "comment-icon" %><%= post.comments.count %></li>
      <li class="activity-list__item"><%=  image_tag 'good.svg', class: "good-icon" %><%= post.likes.count %></li>
    </ul>
  </div>
</div>
</li>
<style>
  .post-image-<%= post.id %> {
    background-image: url("<%= post.pictures[0].url %>")
  }
</style>
