<div class="modal-dialog" id="modal">
  <div class="modal-content">
    <div class="post-show-container container">
      <div class="close-btn" id="close">
        <div class="batsu"></div>
      </div>
      <h2>
        <%= @post.title %>
      </h2>
      <div class="picture-con">
        <% @post.pictures.each do |picture| %> <%= image_tag picture.url, class:"post-picture" %> <% end %>
      </div>
      <div class="post-footer">
        <div class="post-footer__content">
          <div class="post-user">
            <%= image_tag @user.profile_image.url, class: "profile-image", size:"100" %>
            <div class="post-user__profie">
              <%= link_to @user.name, @user %> <%= render 'users/follow_form',user: @user %>
            </div>
          </div>
          <div class="post-activity">
            <ul class="activity-list">
              <li class="activity-list__item">
                <%= image_tag 'comment.svg', class: "comment-icon" %><%=@post.comments.count %>
              </li>
              <li class="activity-list__item" id="like_form">
                <%= render'likes/like_form' %>
              </li>
              <li class="activity-list__item footprint">
                <%= image_tag 'eye.svg', class: "eye-icon" %><%=@post.footprints.count %>
                <ul class="footprint-lavel">
                  <% @post.footprint_users.each do |user| %>
                  <li class="footprint-lavel__list">
                    <span>
                      <%= link_to(user, class: "footprint-lavel__list--link") do %>
                        <%= image_tag user.profile_image.url, class: "profile-image", size: "25" %>
                        <span class="user-name"><%= user.name %></span>
                      <% end %>
                    </span>
                  </li>
                  <% end %>
                </ul>
              </li>
            </ul>
          </div>
          <div class="post-tags">
            <h4>タグ一覧</h4>
            <div class="post-tags__con">
              <% @post.tag_list.each do |tag| %>
                <%= link_to tag,posts_path(tag_name: tag), class: "post-tags__link" %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="post-footer__content">
          <div class="post-footer__content__comment">
            <div class="comment-box">
              <% if user_signed_in? %>
                <%= image_tag current_user.profile_image.url, class: "profile-image", size: "80"%>
                <%= render 'comments/comment_form' %>
              <% else %>
                <div class="request-login">
                  <%= link_to "ログインしてコメントを残す。", user_session_path ,
                  class: "request-login__link" %>
                </div>
              <% end %>
            </div>
            <div id="comment-error">
              <%= render 'comments/error_message' %>
            </div>
            <div id="comments_area">
            <%= render 'comments/index' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $("#close").click(function() {
    $("#modal").fadeOut(250);
    $("body").css("overflow", "visible");
  });
</script>
