<div class="box form">
<h2>投稿フォーム</h2>


<% if @post.errors.any? %>
<div id="error_explanation">
  <div class="alert alert-danger">
      <%= @post.errors.count %>
  </div>
  <ul class="post-error">
  <% @post.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</div>
<% end %>

<div class="form-box">

<div class="map-serch">
  <form onsubmit="return false;">
    <input type="text" id="address" class="map-serch__input" placeholder="場所を検索するか、地図をクリックしてください。">
    <button type="hidden" id="map_button"></button>
  </form>
</div>


<%= form_for(@post, class: "form") do |f| %>
  <%= f.text_field :title, placeholder: "タイトル" %>
  <%= f.text_field :tag_list, value: @post.tag_list, class: "form-control", placeholder: "タグ（カンマ区切り）" %>
  <%= f.text_field :latitude, placeholder: "軽度", id: "lat", type: "hidden" %>
  <%= f.text_field :longitude, placeholder: "緯度", id: "lng", type:"hidden" %>

  <div id="map-camvas" style='width: 100%; height: 500px;'></div>
  
  <%= f.text_area :description, placeholder: "説明" %>

  <p class="tac">投稿してる写真</p>
  <div class="edit-picture" id="edit-picture">
    <div class="edit-picture__btn" id="edit-picture-btn">
      <p class="edit-picture__btn__item">写真を最初から編集する</p>
    </div>
    <% @post.pictures.each do |picture| %>
      <%= image_tag picture.url, class: "edit-picture__preview" %>
    <% end %>
  </div>
  <div class="edit-picture-container" id="edit-picture-container">
    <div class="file-picture-con" id="drag-drop-area">
      <p class="drag-drop-info">ここに画像ファイルをドロップ</p>
    </div>
    <p class="tac">または</p>
    <div class="tac mt1">
      <label for="file-picture" class="file-picture__label">
        写真を選択
        <%= f.file_field :pictures, class: "file-picture", id: "file-picture", multiple: true %>
      </label>
    </div>
    <div id="preview" class="preview">
      <p class="tac" id="preview-title">プレビュー</p>
      <div id="preview-inner">
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "編集を反映する", class: "btn btn-primary" %>
  </div>
<% end %>
</div>
</div>

<script>
var center = {
  lat: <%= @post.latitude %>,
  lng: <%= @post.longitude %>
}
</script>
<%= javascript_include_tag('map_post') %>
<%= javascript_include_tag('file_preview') %>
<%= javascript_include_tag('remove_cover') %>
