      <div class="search">
      <%= form_tag(posts_path,:method => 'get') do %>
        <%= text_field_tag :search,"", placeholder: "キーワードで検索", class: "search__item" %>
        <%# <%= submit_tag '検索', :name => nil %>
      <% end %>
    </div>
  
  <% if @tag_name %>
    <%= render 'posts/feed', title: @tag_name %>
  <% elsif @search %>
    <%= render 'posts/feed', title: @search %>
  <% else %>
    <%= render 'posts/feed', title: "投稿一覧" %>
  <% end %>
