<div class="container">
<div class="box form">
<h2>投稿フォーム</h2>
<% if @post.errors.any? %>
<div id="error_explanation">
  <div class="alert alert-danger">
     The form contains <%=  pluralize(@post.errors.count, "error")%>
  </div>
  <ul>
  <% @post.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</div>
<% end %>

<%= form_for(@post, class: "form") do |f| %>
  <%= f.text_field :title, placeholder: "タイトル" %>
  <%= f.text_field :tag_list, value: @post.tag_list.join(','), class: "form-control", placeholder: "タグを入れる&quot; , &quot;で分けてください。)" %>
  <div class="file-picture-con">
    <label for="file-picture" class="file-picture__label">
      写真を選択
      <%= f.file_field :pictures, class: "file-picture", id: "file-picture", multiple: true %>
    </label>
  </div>
  <div class="actions">
    <%= f.submit "投稿", class: "btn btn-primary" %>
  </div>
<% end %>

</div>
</div>