<div class="box form">
<h2>投稿フォーム</h2>


<%= render "layouts/error_message", object: @post %>


<div class="form-box">
<div class="map-serch">
  <form onsubmit="return false;">
    <input type="text" id="address" class="map-serch__input" placeholder="場所を検索するか、地図をクリックしてください。">
    <button style="hidden" id="map_button"></button>
  </form>
</div>


<%= form_for(@post, class: "form") do |f| %>
  <%= f.text_field :title, placeholder: "タイトル" %>
  <%= f.text_field :tag_list, value: @post.tag_list.join(','), class: "form-control", placeholder: "タグ（カンマ区切り）" %>
  <%= f.text_field :latitude, id: "lat", type: "hidden" %>
  <%= f.text_field :longitude, id: "lng", type:"hidden" %>

  <div id="map-camvas" style='width: 100%; height: 500px;'></div>
  
  <%= f.text_area :description, placeholder: "説明" %>
  <div class="file-picture-con" id="drag-drop-area">
    <p class="drag-drop-info">ここに画像ファイルをドロップ</p>
  </div>
  <p class="tac">または</p>
  <div class="tac mt1">
    <label for="file-picture" class="file-picture__label">
      写真を選択
      <%= f.file_field :pictures, class: "file-picture", id: "file-picture", multiple: true %>
    </label>
  </div>
  <div id="preview" class="preview">
    <p class="tac" id="preview-title">プレビュー</p>
    <div id="preview-inner">
    </div>
  </div>
  <div class="actions">
    <%= f.submit "投稿", class: "btn btn-primary" %>
  </div>
<% end %>
</div>
</div>

<style>
.field_with_errors {
  display: none;
}
</style>

<script>
var center = {
  lat: 35.6587096,
  lng: 139.7452492
};
</script>
<%= javascript_include_tag('map_post') %>
<%= javascript_include_tag('file_preview') %>