
<div class="modal-dialog">
<div class="modal-content">


<div class="post-show-container container">
<h2>
<%= @post.title %>
</h2>
<div id="close-modal">
<h1>aaaaa</h1>
</div>
<div class="picture-con">
<% @post.pictures.each do |picture| %>
  <%= image_tag picture.url, class: "post-picture" %>
<% end %>
</div>
<div class="post-footer">
<div class="post-footer__content">
  <div class="post-user">
  <%= image_tag @user.profile_image.url, class: "profile-image", size: "100" %>
    <div class="post-user__profie">
      <%= link_to @user.name, @user %>
      <%= render 'users/follow_form', user: @user %>
    </div>
  </div>
  <div class="post-activity">
    <ul class="activity-list">
      <li class="activity-list__item"><%= image_tag 'comment.svg', class: "comment-icon" %><%= @post.comments.count %></li>
      <li class="activity-list__item"><%= render'likes/like_form' %><%= @post.likes.count %></li>
      <li class="activity-list__item footprint">
        <%= image_tag 'eye.svg', class: "eye-icon" %><%= @post.footprints.count %>
        <ul class="footprint-lavel">
          <% @post.footprint_users.each do |user| %>
            <li class="footprint-lavel__list"><span>
              <%= link_to(user, class: "footprint-lavel__list--link") do %>
                <%= image_tag user.profile_image.url, class: "profile-image", size: "25" %><span class="user-name"><%= user.name %></span>
              <% end %>
              </span></li>
          <% end %>
        </ul>  
      </li>
    </ul>
  </div>
  <div class="post-tags">
    <h4>タグ一覧</h4>
    <div class="post-tags__con">
    <% @post.tag_list.each do |tag| %>
      <%= link_to tag, posts_path(tag_name: tag), class: "post-tags__link"  %>
    <% end %>
    </div>
  </div>
</div>
<div class="post-footer__content">
<div class="post-footer__content__comment">
<div class="comment-box">
  <% if user_signed_in? %>
    <%= image_tag current_user.profile_image.url, class: "profile-image", size: "80" %>
    <%= form_for [@post, @comment] do |f| %>
      <%= f.text_field :content, placeholder: "コメントを残す", class: "post-comment", rows: "1" %>
      <%= f.submit class: "dn" %>
    <% end %>
  <% else %>
  <div class="request-login">
    <%= link_to "ログインしてコメントを残す。", user_session_path , class: "request-login__link" %>
  </div>
  <% end %>
</div>
<% @post.comments.each do |c| %>
  <div class="comment-list">
  <%= image_tag c.user.profile_image.url, class: "profile-image", size: "50" %>
    <div class="comment-list__item">
    <%= link_to c.user.name, c.user, class: "comment-list__item__user-name" %>
    <p><%= c.content %></p>
    </div>
  </div>
<% end %>

</div>
</div>
</div>
</div>

</div>
</div>
