<div class="post-show-container container">
<h2>
<%= @post.title %>
</h2>
<% @post.pictures.each do |picture| %>
  <%= image_tag picture.url, class: "post-picture" %>
<% end %>
<div class="post-footer">
<div class="post-footer__content">
<div class="post-footer__content__comment">
<div class="comment-box">
  <%= image_tag current_user.profile_image.url, class: "profile-image", size: "80" %>
      <%= form_for [@post, @comment] do |f| %>
      <%= f.text_field :content, placeholder: "コメントを残す", class: "post-comment", rows: "1" %>
      <%= f.submit class: "dn" %>
    <% end %>
</div>

<% @comments.each do |c| %>
  <div class="comment-list">
  <%= image_tag c.user.profile_image.url, class: "profile-image", size: "50" %>
    <div class="comment-list__item">
    <%= link_to c.user.name, c.user, class: "comment-list__item__user-name" %>
    <p><%= c.content %></p>
    </div>
  </div>
<% end %>

</div>
</div>


<div class="post-footer__content">
  <div class="post-user">
  <%= image_tag @post.user.profile_image.url, class: "profile-image", size: "100" %>
    <div class="post-user__profie">
      <%= link_to @post.user.name, @post.user %>
      <%= render 'users/follow_button', user: @post.user %>
    </div>
  </div>
  <div class="post-activity">
    <ul class="activity-list">
      <li class="activity-list__item"><%= image_tag 'comment.svg', class: "comment-icon" %><%= @comments.count %></li>
      <li class="activity-list__item"><%= render 'likes/like_button' %><%= @post.likes.count %></li>
    </ul>
  </div>
  <div class="post-tags">
    <h4>タグ一覧</h4>
    <div class="tag-con">
    <% @post.tag_list.each do |tag| %>
      <%= link_to tag, posts_path(tag_name: tag), class: "tag-link"  %>
    <% end %>
    </div>
  </div>
</div>


</div>
</div>



<!-- 

<% @post.liked_users.each do |user| %>
  <li><%= user.email %></li>
<% end %>


<%= render 'likes/like_button' %>
<%= @post.likes.count %>
<% @post.tag_list.each do |tag| %>
  <p>
  <%= link_to tag, posts_path(tag_name: tag), class: "text-white" %>
  </p>
<% end %>

>